header
{
  background-color: #a7c1d9;
  color:white;
}
.nav-item
{
  /* Adds spaces in between navigation links*/
  padding-left: 5px;
  padding-bottom:5px;
}
nav
{
  background-color: #e3ecf4;
}

nav a
{
  background-color:#eaf4fc;
  color:#6ea4bf;
/* Adds a fade effect when links are hovered on*/
  transition:.5s;

  /* Fade effect support for other browsers*/
  -o-transition:.5s;
-ms-transition:.5s;
-moz-transition:.5s;
-webkit-transition:.5s;

}


/* Navigation links change color on hover*/
nav a:hover
{
  background-color: #699bb5;
  color:white;
}

.bgColor
{
  background-color:#eaf4fc;
}
